<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="#"><span id="egg"></span></a>
    登陆中，请稍等...
</body>

<script th:inline="javascript">
    window.onload = function () {
        document.getElementById("egg").click();
        var token = [[${token}]];
        var domain = [[${domain}]];
        var url = domain + "/?token=" +  token;
        window.close();
        window.open(url);
    }
</script>
</html>